body{
    padding:0;
    margin: 0;
    
  
}
.container{
    max-width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .grey{
    background-color: darkgray;
    margin: 0;
    padding: 20px;
 }
.container p{
    padding: 30px;
    padding-top: 0;
}
.image-wrapper, .content1, .content2, .content3{
    background-color: white;
    margin: 20px 20px;
         
}
header{
    max-width: 100%;
    background-image: url(https://image.shutterstock.com/image-illustration/coding-programming-conceptual-banner-education-260nw-1886584153.jpg);
    opacity:0.8;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 30px;
  
}
button{
    color:white;
    border: solid 1px lightgray;
    padding:15px;
    background-color: rgb(41, 40, 40);
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.5s;
    
}
button:hover {
    background-color: burlywood;
    border-color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c ;
    color: red;
    transform: translateY(-0.5em);
    cursor: pointer;
}
.text-wrapper{
   background-color: darkgray; 
   color: black;
   width: 100%;
  
}
.text-wrapper, .text{
    text-align: center;
    margin-top: 0;
   
}
.image-wrapper{
    background-color: rgb(27, 29, 29);
    max-width: 100%;
    margin: 0;
}
img{
    width: 100%;
    height:270px;
}
.text-wrapper2{
    max-width: 100%;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-cont{
    max-width: 100%;
    margin: 0;
    padding: 20px 40px;
}
.footer-1{
    max-width: 100%;
    margin: 0;
}
.footer-2{
    max-width: 100%;
    margin: 0;
}
.footer-cont h2{
 margin: 0;
 padding-top: 10px;
}
.last h3{
    margin: 0;
    padding: 20px;
}
.contact{
    background-color: blue;
    color: white;
    text-align: center;
}
.company{
    background-color: dimgrey;
    color: white;
    text-align: center;
}
.last{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

@media screen and (min-width:481px) {
    .image-wrapper{
      display: flex;
      flex-wrap:wrap;
      width: 100%;

    }
 .text-wrapper, .text{
    display: flex;
    flex-wrap: wrap;
 }
 .footer-1{
    display: flex;
    flex-wrap: wrap;
 }
 .footer-2{
    display: flex;
    flex-wrap: wrap;
 }

}  

@media screen and (min-width:700px){
    .image-wrapper{
        flex-wrap: nowrap;
    }
    .text-wrapper{
        flex-wrap:nowrap ;
    }
.footer-1{
    flex-wrap: nowrap;

}
.footer-2{
    flex-wrap: nowrap;
    
}
}
    

